// placeholder for test, dont't remove it.

// $accentColor = #f00

// 默认值： 100
$mediumZoomZIndex = 10000;
$contentClass ?= '.theme-default-content';
// Live2d Minimum display width on mobile
$Live2DMobile ?= 550px;

$accentColor =  #09aeaf                      // 主题颜色
$textColor = #2c3e50                        // 文本颜色
$borderColor = #eaecef                      // 边框线颜色
$codeBgColor = #282c34                      // 代码块背景色
$backgroundColor = #ffffff                  // 悬浮块背景色

$none = #e1e1e1;
$primary = #09aeaf;
$success = #5cb85c;
$info = #337ab7;
$warning = #f0ad4e;
$danger = #d9534f; 